/* Exemplo de CSS Externo*/
body{
    background-color: cornsilk;
}
    /*Pai*/
    ul{
        background-color: yellow;
    }
       /*Filho*/
    li{
        background-color: brown;
    }
       /*Neto*/
    li a{
        background-color: aqua;
    }

